#informations {
	width : 800px;
	margin: auto;
}

.titre {
	margin-left: 31%;
}

.hexagonePhoto {
	width: 400px;
	height: 400px;
}

.hexagonePhoto text {
	display 				: none;
}

.hexagonePhoto text.display {
	display 				: block;
}

.hexagonePhoto:hover {
	opacity 				: 0.7;
}

.right {
	float : right;
}