@CHARSET "UTF-8";

#currentPageTitle {
	display: inline-block;
    line-height: 80px;
    height: 80px;
    vertical-align: top;
}

.navbar {
	height 						: 100px;
	//background-image			: url(../img/header.jpg);
	//background-repeat			: repeat;
	//background-size				: cover;
	border-bottom				: none;//1px solid black;
	padding : 10px;
}

.navbar-header {
	height 						: 100px;
}

.navbar-nav {
    margin						: 0px -15px;
}

.navbar a
{
	text-decoration				: none;
	//color 						: #86549d !important;
	color 						: black !important;
	font-weight					: bold;
	text-align 					: center;
}

#navbar-collapse-target, .navbar-collapse {
	border 						: none !important;
}

.self-border {
	border 						: 1px solid #339999;
}

.self-border:hover {
    background-color			: #eee;
    border-color				: #ddd;
}

.hexagone {
	width : 100px;
	height : 100px;
} 

.hexagone:hover {
	opacity : 0.7;
}

#body 
{
	width 						: 92%;
	margin-left 				: 4%;
	margin-top 					: 70px;
	min-height 					: 100%;
	min-height 					: calc( 100% - 225px );
}

#footer {
	//background-image			: url(../img/header.jpg);
	//background-repeat			: no-repeat;
	//background-size				: cover;
	height						: 40px;
	width 						: 100%;
}
