@CHARSET "UTF-8";

html, body {
	height						: 90%;	/*A voir sur un vrai explorateur, surement 100% pour le footer*/
}

#header
{
	height						: 150px;
	width 						: 100%;
}

/*after pour avoir un background-image avec opacité 0.5*/
#header::after {
	height						: 150px;
  	content						: "";
  	background-image			: url(../img/header.jpg);
	background-repeat			: no-repeat;
	background-size				: cover;
  	opacity						: 0.5;
  	top							: 0;
  	left						: 0;
  	bottom						: 0;
  	right						: 0;
  	position					: absolute;
  	z-index						: -1; 
  	border-bottom-left-radius 	: 10px;
  	border-bottom-right-radius 	: 10px;
}

/*barre de menu blanche qui scroll*/
.marginHeader
{
	margin-left 				: 4%;
	padding-top 				: 30px;
	width 						: 92%;
	position					: fixed;
	z-index						: 9999;
    height						: 100px; 
}

svg {
  margin-top 					: -20px;
}

.buttonHeader a
{
	text-decoration				: none;
	color 						: #86549d;
	font-weight					: bold; 
}

#body 
{
	width 						: 92%;
	margin-left 				: 4%;
	margin-top 					: 100px;
	margin-bottom 				: 50px;
	min-height 					: calc( 100% - 190px );
}

#footer {
	background-image			: url(../img/header.jpg);
	background-repeat			: no-repeat;
	background-size				: cover;
	opacity						: 0.5;
	height						: 40px;
	width 						: 100%;
	border-top-left-radius 		: 10px;
  	border-top-right-radius 	: 10px;
}

/*css de l'index*/
.nosFaces {
	height 						: 200px;
	widht 						: 80%;
	margin 						: auto;
	text-align 					: center;
	margin-top 					: 100px;
}
