#titleList {
	text-align 					: center;
	font-size					: 15px;
}

.buttonHeader {
	margin-bottom 				: 20px;
}

.parPageButton {
	cursor						: pointer;
}

#dropdownDPPButton {
	width 						: 70px;
}

#dropdownDisplayPerPage {
	display 					: inline-block;
	float 						: right;
}

.buttonFooter {
	text-align 					: center;
}

.pageButton {
	cursor						: pointer;
}

.pagination .glyphicon {
	font-size					: 16px;
	padding 					: 2px;
}