.header
{
	height						: 100px;
	width 						: 100%;
	
}

.header::after {
	height						: 100px;
  	content						: "";
  	background-image			: url(../img/header.jpg);
	background-repeat			: no-repeat;
  	opacity						: 0.5;
  	top							: 0;
  	left						: 0;
  	bottom						: 0;
  	right						: 0;
  	position					: absolute;
  	z-index						: -1; 
  	border-bottom-left-radius 	: 10px;
  	border-bottom-right-radius 	: 10px;
}

.marginHeader
{
	margin-left 				: 4%;
	padding-top 				: 30px;
	width 						: 92%;
	position					: fixed;
	z-index						: 9999;
    height						: 100px; 
}

svg {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0;
  right : 0;
  margin: auto;
}

.buttonHeader a
{
	text-decoration				: none;
	color 						: #86549d;
	font-weight					: bold; 
}

.body 
{
	margin-top : 100px;
	margin-bottom : 100px;
}

.nosFaces {
	height : 200px;
	widht : 80%;
	margin : auto;
	text-align : center;
	margin-top : 100px;
}

.footer {
	background-image			: url(../img/header.jpg);
	background-repeat			: no-repeat;
	opacity						: 0.5;
	height						: 40px;
	width 						: 100%;
	position					: absolute;
	bottom						: 0;
	left 						: 0;
	border-top-left-radius 		: 10px;
  	border-top-right-radius 	: 10px;
}
